acme==1.1.0
albumentations==1.3.0
aniso8601==7.0.0
apturl==0.5.2
bcrypt==3.1.7
blessings==1.6
blinker==1.4
Brlapi==0.7.0
certbot==0.40.0
certifi==2019.11.28
chardet==3.0.4
cliapp==1.20180812.1
click==8.1.3
cmdtest==0.32+git
colorama==0.4.3
command-not-found==0.3
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
duplicity==0.8.12.0
efficientnet==1.0.0
entrypoints==0.3
fasteners==0.14.1
Flask==2.2.3
Flask-GraphQL==2.0.0
future==0.18.2
GDAL==3.0.4
gpg===1.13.1-unknown
gpustat==0.6.0
graphene==2.1.8
graphene-sqlalchemy==2.3.0
graphql-core==2.2.1
graphql-relay==2.0.1
graphql-server-core==1.1.1
greenlet==2.0.2
httpie==1.0.3
httplib2==0.14.0
idna==2.8
image-classifiers==1.0.0
importlib-metadata==6.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
josepy==1.2.0
keyring==18.0.1
kiwisolver==1.0.1
labelme==3.16.7
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.1.2
matplotlib==3.1.2
meld==3.20.2
mock==3.0.5
monotonic==1.5
netifaces==0.10.4
numpy==1.17.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
onnx-graphsurgeon==0.3.12
packaging==20.3
paramiko==2.6.0
parsedatetime==2.4
pbr==5.4.5
pexpect==4.6.0
Pillow==7.0.0
promise==2.3
protobuf==3.6.1
psutil==5.5.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.3.1
PyGObject==3.36.0
PyICU==2.4.2
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
PyQt5==5.14.1
pyRFC3339==1.1
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-xapp==2.2.1
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
QtPy==1.9.0
reportlab==3.5.34
requests==2.22.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
Rx==1.6.3
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.16.0
singledispatch==3.7.0
sip==4.19.21
six==1.16.0
SQLAlchemy==1.4.47
ssh-import-id==5.10
systemd-python==234
tensorrt==8.2.0.6
termcolor==1.1.0
ttystatus==0.38
typing-extensions==4.5.0
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
vboxapi==1.0
wadllib==1.3.3
Werkzeug==2.2.3
xkit==0.0.0
zipp==3.15.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
